@charset "UTF-8";
html{overflow-x: hidden;
    overflow-y: scroll;}
@media screen and (max-width: 1800px){
    .intro_color1{
        bottom:232px;
        width:40vw;
    }
    .intro{
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: space-between;
    }
    .intro_text div{
        margin-left:2%
    }
    .intro_text div>div{
    top: -132px;
    left: 614px;
    }
    .info_list{
        top:-232px;
        left:603px;
    }
    .info_list ul{
        display: flex;
        justify-content: space-around;
        padding:62px 0 60px 0;
        margin-top:64px;
        background-color: #103d67;
    }
    dl > .pa {
        left: 16%;
    }
    .intro_banner{
        top:0px;
        left:0px;
        position:relative;
    }
    .swipper{display: none;}
    
    }

@media screen and (max-width: 1280px){
/* header top/ bottom gnb 사라짐 */
#header_top{display: none;}
.gnb{display:none;}
.gnb{background-color: black;}
.intro_banner{width:100%;}

}

@media screen and (max-width:768px){}
