@charset "UTF-8";
html{overflow-x: hidden;
    overflow-y: scroll;}
@media screen and (max-width: 1800px){
    #container .intro_color1{
        width:100%;
    }
    .intro{
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
    }
    .intro .intro_text{
      width: 100%;
      position: relative;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
    }
    .intro_text>div:first-child{
      display: flex;
    }
    .intro_text>div>div{
      width: 50%;
    }
    .intro_text .info_text{
      width: 100%;
    }
    .intro_text .info_list{
       width: 100%;
    }
    .intro_text .info_list ul{
        display: flex;
        justify-content: space-around;
        padding:14px;
    }
    .intro .intro_banner{
        top:0px;
        left:0px;
        position:relative;
        width: 94%;
    }
    .intro_banner div.banner_list{
      width: 14%;
    }
    .swipper{
      display: none;
    }
    }
@media screen and (max-width: 1280px){
/* header top/ bottom gnb 사라짐 */
#header_top{display: none;}
.gnb{display:none;}
.gnb{background-color: black;}
.intro_banner{width:100%;}
div#all_layer{
  position: sticky;
}
#all_layer .all_menu_layer{
top: 10%;
left:0;
width: 20%;
}
.all_menu_con ul{
  flex-direction:column ;
}
.info_text dd {
  margin: 0;
}
.intro_banner div.banner_list{
  width: 18%;
  min-width: 16%;
}
.intro_text>div>div:nth-child(2){
  display: none;
}
.ctrlN {
  display: none;
}
.board_table ul li ul {
  width: 100%;
}
}
@media screen and (max-width:768px){}