@charset "utf-8"; /* 1rem->10px font-size: 1.3rem; =13픽셀 */
html {
  overflow-y: scroll;
}
.cover {
  width: 100%;
}
.inner {
  width: 100%;
  max-width: 1260px;
  margin: auto;
}
.inner1700 {
  width: 100%;
  max-width: 1700px;
  margin: auto;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.skip_menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  transform: translateY(-100px);
}
.df {
  display: flex;
}

/* layer-popup */
#layer {
  display: block;
  position: fixed;
  width: 800px;
  height: 195px;
  background-color: #124474c7;
  box-shadow: 3px 3px 1px rgb(223 222 222 / 40%), -2px -2px 2px 1px rgb(255 255 255 / 30%);
  z-index: 9999999;
  font-size: 1.4em;
  padding: 2em;
  color: #fffff8;
  box-sizing: border-box;
  line-height: 2;
  top: 137px;
  left: 764px;
  border-radius: 20px;
}
#layer button {
  cursor: pointer;
  padding: 10px 20px;
  position: absolute;
  right: 78px;
  top: 112px;
  background-color: #222;
  color: #fff;
  border-radius: 20px;
}

