@charset "utf-8";/* 1rem->10px font-size: 1.3rem; =13픽셀 */
html { overflow-y: scroll; } 
.cover { width: 100%; } 
.inner { width: 100%; max-width: 1260px; margin: auto; } 
.pr { position: relative; } 
.pa { position: absolute; } 
.fl { float: left; } 
.fr { float: right; } 
.cb { clear: both; } 
.cf::after { content: ""; display: block; clear: both; } 
.skip_menu { position: fixed; left: 0; top: 0; background-color: #000; color: #fff; padding: 10px 15px; text-decoration: none; transform: translateY(-100px); } 
.df { display: flex; } 
/* skipmenu 추가 */
.skip_menu:focus { transform: translateY(0%); } 
/*header*/
/*header_top영역 */
#header { width: 100%; background-color: #124474; height: 120px; } /* header 120px 지정해줌 */
#header_top { border-bottom: 1px solid #d4d4d4; height: 39px; } 
/*header*/
/*header_top영역 */
#header { width: 100%; background-color: #124474; } 
#header_top { border-bottom: 1px solid #d4d4d4; height: 40px; } 
.top ul { text-align: right; display: flex; align-items: center; justify-content: end; } 
.top ul li { position: relative; } 
.top > ul > li:nth-child(-n + 3):after { content: "∣"; color: #e8e8e8; position: absolute; top: 3px; right: 0px; font-size: 15px; } 
.top ul li a { padding: 5px 20px; display: block; color: #e8e8e8; font-weight: 540; font-size: 1.4em; } 
.top ul li label { display: block; color: #e8e8e8; font-weight: 500; font-size: 1.4em; } 
.top ul li img { width: 18%; vertical-align: sub; } 
/* 체크박스 */
.top ul li input { display: none; } 
.top ul li input + label::after { content: "▼"; position: absolute; top: 20%; right: -15%; font-size: 8px; } 
.top ul li input:checked + label::after { content: "▲"; position: absolute; top: 20%; right: -15%; font-size: 8px; } 
/* top-lang영역 */
.lang_opt { z-index: 30; position: absolute; top: 120%; right: -50%; background-color: rgba(38, 37, 37, 0.832); } 
.lang_opt ul { display: flex; flex-direction: column; } 
.top > ul > li > .lang_opt { display: none; } 
.top > ul > li > input:checked ~ .lang_opt { display: block; } 
/* header_bottom영역 */
#header_bottom { width: 100%; z-index: 20; background: linear-gradient(180deg, #124474 65px, #ffffff 65px); } 
.bottom h1 { width: 18%; } 
.bottom h1 a { width: 100%; height: 100%; display: block; padding: 15px 10px 0 10px; } 
.bottom .gnb ul:first-child li { top: 0px; left: 220px; } 
.bottom nav { line-height: 50px; text-align: center; } 
.bottom nav ul li { display: inline-block; padding: 0 8px; } 
.bottom nav ul li a { color: #e8e8e8; font-weight: 600; font-size: 1.7em; padding: 15px 10px; } 
.bottom .hamburger { position: absolute; top: 10px; right: 60px; } 
.gnb_menu { display: none; overflow: hidden; transition: padding 0.5s; padding: 0 0; } /* transition을 못주겠음 */
.gnb_menu ul { display: flex; align-items: flex-start; justify-content: space-around; } 
.gnb .gnb_menu ul li dl { text-align: left; position: relative; } 
.gnb_menu li dt { font-size: 18px; font-weight: 600; } 
.gnb_menu li dd { line-height: 30px; box-sizing: border-box; } 
.gnb_menu ul li dl dd a { font-size: 14px; padding: 0; color: rgb(78, 78, 78); font-weight: 550; } 
.gnb > ul > li:hover > a { color: #2885dd; } 
.gnb:hover .gnb_menu { display: block; padding: 10px 0; } 
.gnb ul li dl::after { content: ""; display: block; background: #e7f4ff; position: absolute; height: 1px; width: 60%; top: 30px; left: 80px; } 
.gnb ul li dl:hover::after { background: #124474; } 
.gnb ul li dl dd::after { /* 위치가 안움직여요 */
 content: "●"; font-size: 8px; color: #124474; visibility: hidden; } 
.gnb ul li dl dd:hover::after { visibility: visible; } 
.gnb ul li dl dd:hover { text-decoration: underline blue; } 
/* 텍스트언더라인 수정요 */
/* header 끝 */
/* 메인 시작 - section1 */
#container { width: 100%; } 
#intro { background-color: #124474; height: 620px; } /* height줌 */
.intro_text { color: #d4d4d4; } 
.intro .intro_text h2 { font-weight: 900; color: #d4d4d4; font-size: 50px; line-height: 54px; margin-top: 60px; } 
.intro .intro_text h2 span { font-size: 24px; } 
.intro .intro_text p { font-size: 16px; font-weight: 900; margin-top: 12px; text-align: center; } 
.info_control { border-bottom: 1px solid white; width: 280px; margin: 70px 0 0 0px; } 
.autoplay { height: 10px; width: 10px; background-size: contain; background: url(../images/ico-stop.png) no-repeat; top: -4px; right: -40px; } 
.info_control::after { content: "◎ ◎ ◎"; margin: 10px; font-size: 14px; position: absolute; top: -25px; right: -120px; } 
dl > .pa { top: 8px; right: 190px; } 

.info_text dt { color: #d4d4d4; font-size: 18px; font-weight: 600; margin: 40px 0 0 20px; } 
.info_text dd { color: #f5c734; font-size: 12px; font-weight: 600; margin: 0 0 0 120px; } 
.info_text > dl:first-child > :nth-child(2) { color: #d4d4d4; } 

.intro_color1 { width: 1000px; height: 140px; background-color: #0d3255; top: 350px; left: -390px; } 

.info_list ul { margin-top: 50px; } 
.info_list ul li { display: inline-block; margin: 0 20px 10px 0; } 
.info_list ul li a { padding: 10px 20px 10px 0; font-size: 16px; line-height: 16px; font-weight: 700; color: #d4d4d4; } 

.intro_banner { top: 0; right: -450px; } 
.intro_banner .banner_img img { width: 1200px; } 
.intro_banner .banner_list { top: 25%; right: 12%; z-index: 10; width: 200px; height: 300px; } 
.swipper { width: 60px; height: 60px; background-color: #1e90e4; border-radius: 50%; top: 300px; left: -30px; box-sizing: border-box; box-shadow: #d4d4d4 2px -1px 3px; } 
.swipper img { width: 10px; padding: 20px 0 0 12px; } 
.banner_list ul { display: flex; flex-wrap: wrap; } 
.banner_list ul li { width: 95px; height: 95px; margin: 5px auto; background-color: rgba(13, 13, 13, 0.534); border-radius: 20px; } 
.color2 { width: 1044px; height: 1300px; background-color: #f4f8fb; top: 0px; left: 7px; z-index: -1; } 
.banner_list ul li a { display: block; height: 28px; font-size: 13px; font-weight: 700; color: #d4d4d4; text-align: center; padding-top: 70%; line-height: 16px; } 
.banner_list ul li div { width: 90px; height: 90px; } 
.banner_list ul li .imgbox1 { background: url(../images/ico-place-white.png) no-repeat 50% 25%; } 
.banner_list ul li .imgbox2 { background: url(../images/ico-campground-white.png) no-repeat 50% 25%; } 
.banner_list ul li .imgbox3 { background: url(../images/ico-together-white.png) no-repeat 50% 25%; } 
.banner_list ul li .imgbox4 { background: url(../images/ico-education-white.png) no-repeat 50% 25%; } 
.banner_list ul li .imgbox5 { background: url(../images/ico-commentary-white.png) no-repeat 50% 25%; } 
.banner_list ul li .imgbox6 { background: url(../images/ico-unification-white.png) no-repeat 50% 25%; } 
.info_list li img { margin: 2px 0 0 2px; } 
/* section2_notice영역 */

#notice { padding-top: 100px; /* background-color: yellowgreen; */}

.notice_board { } 
.notice_board p { padding: 10px 0 30px 40px; font-size: 18px; font-weight: 900; color: #348bde; } 
.board_banner { width: 100%; /* background-color: green; */
 /* padding-bottom: 20px; */ } 
.imgbox { width: 60%; } 
.imgbox a { display: block; } 
.imgbox img { width: 300px; padding-left: 40px; margin-right: 20px; } 
.board_bnt { background: url(../images/ico-stop-blue.png) no-repeat; background-size: contain; width: 15px; top: 15px; left: 630px; height: 10px; } 
.board_bnt::after { content: "◎"; color: #1e90e4; font-size: 15px; display: block; position: absolute; top: -10px; right: -30px; } 

.board_table { width: 40%; transform: translateY(-88px); height: 284px; border-bottom: 2px solid #686763; box-sizing: border-box; /* height 줘야 감쌀수 있음 */}
.board_table > ul{height:60px; border-bottom: 1px solid #c2c2c2;}
.board_table > ul > li { padding: 20px 18px 10px 18px; margin-bottom: 30px; box-sizing: border-box; } 
.board_table > ul > li > a { font-size: 18px; font-weight: 600; color: #686763; } 
.board_table > ul > li > ul { top: 60px; left: 0; margin-top: 10px; } 
.board_table > ul > li > ul li { margin-bottom: 10px; } 
.board_table > ul > li > ul > li a span { display: inline-block; width: 400px; height: 25px;
    font-size: 16px; font-weight: 500; color:#000; 
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis; 
} 
.board_table > ul > li > ul > li>a>span:nth-child(2){color:#7c7c7c;}
.board_table > ul > li:hover { border-bottom: 4px solid #124474;  } 
/* 시각적으로는 after로선넣는것같음 */
/* board_table */
.board_table ul li ul { visibility: hidden; } 
.board_table > ul > li:first-child ul { visibility: visible; } 
.board_table > ul > li:hover > a { font-weight: 900; } /* 시각적으로는 after로선넣는것같음 */
.board_table > ul > li:hover ul { visibility: visible; position: fixed; z-index: 101; background-color: #fff; } 
.board_table > ul > li:nth-child(n + 2):hover:first-child ul { visibility: hidden; } 
.board_table>ul>li>ul>li:hover>a>span:nth-child(1) {text-decoration:underline;}

.board_table>ul>li:last-child::after
{content:'';
display: block;
position: absolute;
height:21px;
width:21px;
top:26px;
right:18px;
background: url(../images/ico-plus-blue.png) no-repeat;
}

.memorial_board{height: 440px; background-color: #2180dc;}

.memorial_box{
    width: 50%;
    padding: 60px 90px 45px;
}
.memorial_box .m_list{ ;}
 .m_list ul{display: flex;}
 .m_list ul li{padding:0 10px;}
 .m_list ul li a{font-size: 16px; color:#ffffff; font-weight: 500;}

 .m_text{color:#fff;/*  background-color: #000; */ padding-top:14px;}
 .m_text h3{font-size: 40px; font-weight:300; color:#fff}
 .m_text>h3>span{font-weight:100; color:red} /* 왜 안먹힐까.... */
 .m_text p {font-size:14px; font-weight: 550; padding:10px 0 10px 22px; line-height: 24px;}

 .m_text>div{background-color: #124474; height:54px; width:138px;
    border-radius:;}
 .m_text>div>a{color:#ffffff; font-size: 16px; font-weight: 500; padding-left: 28px; line-height: 54px;}
 


.memorial_img{width: 50%;}