.board_banner {
  width: 100%;
}

.board_imgbox {
  width: 60%;
  padding-top: 20px;
  /* overflow:hidden */
}

.board_imgs li a{
  display: block;
}

.board_imgs li img {
  width: 300px;
  margin-right: 20px;
}
.ctrlN {
  color:white;/* transparent 로 변경예정 */
  background: black;
}

.board_bnt {
  background: url(../images/ico-stop-blue.png) no-repeat;
  background-size: cover;
  width: 15px;
  top: 15px;
  left: 630px;
  height: 10px;
}





